<div class="header">
    <div class="navbar">
        <div class="logo-container">
            <a href="{% url 'main' %}"><img src="../../static/monkey_app/img/logo.png" alt="" class="logo"></a>
        </div>
        <div class="row nav-buttons">
            <a href="{% url 'articles' %}" class="col nav-button">articles</a>
            <a href="#" class="col nav-button">пусто</a>
            <a href="#" class="col nav-button">пусто</a>
            <a href="#" class="col nav-button">пусто</a>
        </div>
    </div>
</div>
<div class="space">
</div>






